<div id="dfe3a187-523f-487f-b3a1-3476259b3439" class="input-container">
  <div id="fc027e7b-4c36-4506-a6e8-2ba0ccb625f5" class="input-group number" [ngClass]="{'has-success': value.valid && !value.pristine,
                                              'has-danger': value.invalid && !value.pristine}">
    <input type="number" [min]="minMaxRange[0]" [max]="minMaxRange[1]" step='0.01' [formControl]="value"
      class="form-control" (keydown.enter)="close.emit(true)">
    <button type="button" class="close" aria-label="Close" (click)="close.emit(true)">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <button [disabled]="!value.valid" type="button" class="btn btn-primary btn-sm btn-confirm" (click)="close.emit(true)">
    <span class="material-icons">check</span>
  </button>
</div>