<mat-sidenav-container [class]='currentApp$ | async' class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="false">
    <mat-toolbar>{{currentApp$ | async}}</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item *ngFor="let link of appRouting$ | async" [routerLink]="[link.route]" routerLinkActive="active">{{link.title}}</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary" class="justify-content-between">
      <div class="align-middle">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>

        <button type="button" mat-button class="app-button" [routerLink]="[currentApp$ | async]">
          <span *ngIf="(currentApp$ | async) === 'symptomLink'">Symptom Links</span>
          <span *ngIf="(currentApp$ | async) === 'mica'">{{currentApp$ | async | uppercase}}</span>
          <span *ngIf="(currentApp$ | async) === 'treatments'">{{currentApp$ | async | titlecase}}</span>
          <span>v{{appVersion$ | async}}</span>
        </button>
      </div>

      <div class="align-middle">
        <button *ngFor="let link of appRouting$ | async" mat-button [routerLink]="[link.route]" routerLinkActive="active" class="nav-link">{{link.title}}</button>
      </div>

      <mica-header-user></mica-header-user>
    </mat-toolbar>
    <mica-header-nav *ngIf="(currentApp$ | async) === 'mica'"></mica-header-nav>
  </mat-sidenav-content>

</mat-sidenav-container>

