<div id="8d1929dd-a6a9-41cc-9673-cb6414e9e6b9" class="modal-header">
  <h5 class="modal-title">Source removal</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cancel()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div id="889eb4fa-64e0-4d00-bb1a-16822f06db2d" class="modal-body">
  <span>What do you want the source to be removed from?</span>
</div>

<div id="b6814341-e985-4529-9721-c11d5951e71b" class="modal-footer">

  <ng-container *ngIf="entityType === 'treatment'">
    <button type="button" class="btn btn-primary pointer" (click)="removeFromTreatment()">
      {{ treatmentType === 'drug' ? 'Drug' : 'Treatment' }}
    </button>

    <button type="button" class="btn btn-primary pointer" (click)="removeFromTreatment(true)">
      {{ recordType | titleCase }}
    </button>
  </ng-container>

  <ng-container *ngIf="entityType === 'record'">
    <button type="button" class="btn btn-primary pointer" (click)="removeFromRecord('symptom')">Symptom</button>
    <button type="button" class="btn btn-primary pointer" (click)="removeFromRecord('illness')">Illness</button>
  </ng-container>
</div>
