<div id="76a6f71a-661f-4547-95f5-04f3d8b56cf4" class="modal-backdrop show"></div>
<div id="77a529e8-9439-4310-8924-0101ee6ef093" class="row" (click)="closeModal()">
  <div id="981dd3e6-b45a-4fd4-aedd-dcd524b7937a" class="col">
    <div id="2c4443a9-6c46-4f2a-9302-b9f25b653152" class="modal show d-block" tabindex="-1" role="dialog">
      <div id="c81cfcf6-7cc2-4681-b451-b68537058399" class="modal-dialog" role="document">
        <div id="ff25e775-c7b6-4114-aaf7-60ebbd99bc85" class="modal-content" (click)="$event.stopPropagation()">
          <ng-template #content></ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
