<section class="d-block logout-container">
  <div id="ebbdfa1c-d6d6-4179-9385-317b23b56a37" class="container">
    <div id="5e1fa35c-ea8f-41ac-91c6-4ffceccbcc4a" class="row align-items-center justify-content-center">
      <div id="2fc7ce70-675b-4517-b986-b22df3210bc1" class="col-sm-10 col-md-8 col-lg-6 text-center text-white">
        <h3 class="mb-3">MICA</h3>
        <p>{{message}}</p>
        <a class="btn btn-primary" [routerLink]="['']">LOGIN AGAIN</a>
      </div>
    </div>
  </div>
</section>