<div id="13531ad2-12a4-4056-bc80-773f2ce35f36" class="container">
  <div id="9e1fcc33-85af-4b13-8896-165ae76dcb90" class="row justify-content-between align-items-center">
    <div id="0257e2d3-423b-47c2-9ab8-6576211d23b3" class="sm-col-12 md-col-4">
      <h1>MICA</h1>
    </div>
  </div>
  <div id="7a50c90c-d464-426c-b316-e1cf27239d99" class="row">
    <mica-error-box [message]="globalError" class="d-block w-100">
        <p><strong>Sorry, something went wrong and it's not possible for you to carry on using MICA at the moment.</strong></p>
        <p>Please report this error by clicking below and try again later.</p>
    </mica-error-box>
  </div>
</div>

